<div class="add-product">{{product.name}}: 
    <input type="hidden" name="product-id[]" value="{{product.id}}" />
    <input type="number" step="1" name="quantity[{{product.id}}]" placeholder="Quantity" />
</div>