<form method="post" action="/api/order" name="order-form">
    <input type="text" name="description" placeholder="Put order description here" />
    {{#each products}}
        {{> order-product product=this }}
    {{/each}}
    <button type="submit">Submit Order</button>
</form>

